<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Editar Pedido</h1>
            <hr>
        </div>
        <div class="card-body">
            <form action="/pedidos/update" method="post">
                <label>Número do Pedido:</label>
                <input  class="form-control"type="text" name="numero" value="<%= pedido.numero %>" required>

                <label>Valor</label>
                <input  class="form-control"type="text" name="valor" value="<%= pedido.valor %>">

                <input  class="form-control"type="hidden" name="id" value="<%= pedido.id %>">
                <br>
                <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm('Confirma as alterações feitas?')">

            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>